* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin:0;
}
main{
  background:#000;
  font-family: "pop-fury", sans-serif;
  font-weight: 700;
  font-style: normal;
  width:100%;
  color:white;
}
.toppage_logo{
  width:300px;
  padding:50px auto;
  margin:0 auto;
}
.toppage_logo img{
  width:100%;
}
.top_title{
  font-size:40px;
  text-align:center;
  margin-top:100px;
}
.top_grid{
  width:90%;
  margin:100px auto 0;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(auto);
  gap:30px;
  padding-bottom:100px;
}
.monster-card{
  position:relative;
  background:#2A2A2A;
  border-radius: 10px;
}
.monster-card img{
  width:100%;
}
.monster-name{
  position:absolute;
  text-align:center;
  inset:0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s;
  color:#fff;
}
.monster-card:hover .monster-name {
  opacity: 1;
}




/*---monsterPage----*/
.star{
  color:#ff2c2c;
}
.verygood{
  color:#ffff43;
}
.part-border{
  border:0.5px solid#ebebeb;
}
.monster-page{
  width:100%;
  background:#000;
  padding-top:100px;
}
.monster-page_logo{
  position:absolute;
  top:30px;
  right:30px;
  width:300px;
}
.back-btn{
  text-decoration: none; /* 下線消す */
  color: inherit;  
  position:absolute;
  top:30px;
  left:30px;
  padding:20px 50px;
  border:1px solid#fff;
  border-radius: 10px;
  font-size:25px;
  transition:all 0.2s;
}
.back-btn:hover{
  background:#fff;
  color:#000;
}
.monster-image{
  text-align:center;
  width:300px;
  margin:0 auto;
}
.monster-image img{
  width:100%;
}
.monster-title{
  text-align:center;
  font-size:50px;
  margin-top:50px;
}
.monster-elemental{
  text-align:center;
  width:max-content;
  margin:30px auto 0;
  font-size:40px;
  padding:20px 150px;
  border:5px solid#000;
  border-radius: 10px;
}
.gray{
  border-color:#c0c0c0;
  color:#c0c0c0;
}
.fire_color{
  border-color:#FF4802;
  color:#FF4802;
}
.water_color{
  border-color:#93EBFF;
  color:#93EBFF;
}
.ice_color{
  border-color:#ADCEF7;
  color:#ADCEF7;
}
.thander_color{
  border-color:#FFFE03;
  color:#FFFE03;
}
.dragon_color{
  border-color:#6B72B6;
  color:#6B72B6;
}
.title{
  margin-top:100px;
  text-align:center;
  font-size:35px;
}
.notes{
  width:85%;
  margin:50px auto 20px;
  font-size:20px;
}
.change_button{
  width:85%;
  margin:50px auto 0;
  display:flex;
  justify-content: space-between;
}
.change_button button{
  width:50%;
  font-size:20px;
  padding:20px 0;
  border:none;
  border-bottom:1px solid#fff;
  background:#000;
  color:#fff;
  font-family: "pop-fury", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition:all 0.2s;
}
.change_button button:hover{
  background:#fff;
  color:#000;
}
.elemental_grid{
  width:85%;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(auto);
  gap:10px;
}
.elemental_grid div{
  text-align:center;
  background:#2A2A2A;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px 0;
}
.elemental_img img{
  width:50px;
}
.fire{
  border:1px solid#FF4802;
}
.water{
  border:1px solid#93EBFF;
}
.ice{
  border:1px solid#ADCEF7;
}
.thander{
  border:1px solid#FFFE03;
}
.dragon{
  border:1px solid#6B72B6;
}
.physical_grid{
  width:85%;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(auto);
  gap:10px;
}
.physical_grid div{
  text-align:center;
  background:#2A2A2A;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px 0;
}
.physical_img img{
  width:50px;
}
.part-name{
  font-size:25px;
}



.status_title{
  margin-top:200px;
  text-align:center;
  font-size:35px;
}
.status_grid{
  width:85%;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(auto);
  gap:10px;
}
.status_grid div{
  text-align:center;
  background:#2A2A2A;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px 0;
}
.status_img img{
  width:50px;
}
.status{
  font-size:25px;
}

.tools_grid{
  width:85%;
  margin:50px auto 0;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(auto);
  gap:10px;
}
.tools_grid div{
  text-align:center;
  background:#2A2A2A;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px 0;
}
.tools_text{
  font-size:25px;
}
.tools{
  font-size:25px;
}


.skill_title{
  text-align:center;
  font-size:35px;
  margin-top:200px;
}
.skill_notes{
  margin-top:70px;
  font-size:20px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.red{
  color:#FF0000;
  font-size:25px;
}
.blue{
  color:#0062FF;
  font-size:25px;
}
.skill_flex{
  width:max-content;
  margin:30px auto 0;
  padding-bottom:200px;
  display:flex;
  justify-content: space-between;
}
.skills{
  font-size:25px;
  padding:20px 50px;
  border:1px solid#fff;
  border-radius: 10px;
  margin:0 50px;
}
.high{
  border-color:#FF0000;
}
.low{
  border-color:#0062FF;
}


